{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}


{% block body %}
    <main>
<div class="grid-container">
    <div class="grid-child-image">

        <img src="{{ asset('Images/fairwayWater.png') }}" alt="faireway with water" class="image-faireway" title="Fairway with water">
    </div>
    <div class="grid-child-form">

            <h1>Bienvenue </h1>

           <p> sur votre programme de vidéos préférées d'entrainement de golf </p>

    </div>
    </main>
{% endblock %}