


body {
    background-color: #D9D9D9;
}

.welcome {
    padding-left: 4rem;
}
h1 {
    padding-top: 2rem;
    color: #4ECCA3;
    padding-bottom: 2rem;
}

.image-faireway {
    width: 100%;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*margin-bottom: 3rem;*/
    /*margin-left: 4rem;*/
    /*margin-right: 4rem;*/
}

.grid-child-form {
    margin-top: 2rem;
    /*margin-left: 1rem;*/
}


p {
    font-size: 1.25rem;
    padding-top: 2rem;
    padding-right: 1rem;
    color:dimgray;
}


@media only screen and (max-width:768px){
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr;
    }

    .image-faireway {
        img {
            height: 200px;
        }
        width: 100%;

    }

    .welcome {
        padding-top: 1.5rem;
    }

}