
<nav class="navbar">
{#    <div class="navbar-left">#}
<div class="navbar-left">
    My Golf Videos
</div>
    <div class="navbar-right">

                <a class="nav-link" href="#">Catégories</a>

                <a class="nav-link" href="#">Vidéos</a>

                <a class="nav-link" href="#">Connexion</a>
    </div>
</nav>


