
<nav class="navbar">
{#    <div class="navbar-left">#}
<div class="navbar-left">
    <a class="nav-link" href="{{ path('app_home') }}">My Golf Videos</a>
</div>
    <div class="navbar-right">

                <a class="nav-link" href="#">Catégories</a>

                <a class="nav-link" href="#">Vidéos</a>

                <a class="nav-link" href="{{ path ('app_login') }}">Connexion</a>
    </div>
</nav>


